<h1 class="title">Timetrackings</h1>
  <% if items.any? %>
    <table>
      <% items.each_slice(3) do |row| %>
        <div class="columns">
          <% row.each do |item| %>
            <%= render :item, item: item %>
          <% end %>
        </div>
      <% end %>
    </table>
  <% else %>
    <p>No items found. Please add some inventory. Thank you!</p>
  <% end %>
